@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root{
    --primary-color: #8F0101;
    --secondary-color: #B81515;

    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #000000;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;

    /* menu: peso 500
       footer: peso 400
       cards: peso 400 e 700  */

}

/*CSS RESET*/
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1 {
    font-family: "Montserrat";
    color: var(--secondary-color);
    font-weight: var(--title-weight);
}

body {
    font-family : "Montserrat";
        color: var(--text-primary-color);
}

.section-title h2 {
    font-size: 38px;
    font-weight: var(--title-weight);
    margin: 0;
    text-align: center;
}

.section-title hr {
    width: 180px;
    height: 4px;
    background-color: var(--secondary-color);
    border: none;
    margin: 16px auto 32px;
}

.button {
    display: inline-block;
    width: 280px;
    height: 64px;
    color: var(--text-secondary-color);
    font-weight: var(--title-weight);
    font-size: 20px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    text-decoration: none;
    line-height: 64px;
}

@media screen and (min-width: 768px) {
    .section-title h2{
        font-size: 32px;
    }
}

@media screen and (min-width: 1024px) {
    .button:hover {
        background-color: var(--primary-color);
    }
}