header{
    display: flex;
    padding: 38px 48px;
    background-color: var(--background-tertiary-color);
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navigation-menu{
    margin-top: 24px;
}

nav{
    display: none;
}