.hero-bass-img {
    height: 400px;
    width: 100%;
    background-image: url(../img/hero-bass-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 88px;
}

@media screen and (min-width: 768px) {
    .hero-bass-img {
        background-image: url(../img/hero-bass-tablet.jpg);
        background-position: center;
    }
}

@media screen and (min-width: 1440px) {
    .hero-bass-img {
        background-image: url(../img/hero-bass-desktop.jpg);
        height: 600px;
        margin-top: 104px;
        background-position: center 70%;
    }
}