.hero-img {
    height: 400px;
    width: 100%;
    background-image: url(../img/hero-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h2{
    padding: 88px 24px;
    margin: 0px;
    font-weight: var(--text-weight);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .hero-img {
        height: 620px;
        background-image: url(../img/hero-tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero h2 {
        padding: 88px 60px;
        font-size: 32px;
        line-height: 1.5;
    }
}

@media screen and (min-width: 1024px) {
    .hero-img {
        background-image: url(../img/hero-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero h2{
        padding: 88px 120px;

    }
}

@media screen and (min-width: 1920px) {
    .hero h2 {
        padding: 88px 160px;
    }
}