.payments {
    padding: 0 24px;
    max-width: 1200px;
    margin: 0 auto;    
}

.image-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 24px;
}

.image img {
    width: 100%;
    display: block;
}

.people {
    grid-column: span 2;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .payments {
        padding: 0 60px;
    }
}

@media screen and (min-width: 1440px) {
    .all-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .image-content {
        grid-column: span 2;
        margin-top: 0;
    }

    .content-title {
        margin-top: 0;
    }
}

/* SUB-PÁGINA PACOTES DE VIAGENS */

.japones-japao {
    grid-column: span 2;
    width: 100%;
}

.content-text.pacotes {
    padding-bottom: 24px;
}

.all-content button {
    display: none;
}

h2 {
    font-size: 38px;
    font-weight: var(--title-weight);
}

@media screen and (min-width: 1440px) {
    .text-content {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}