.testimonials-container {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    gap: 32px;
}

.testimonials-container article header p {
    font-size: 16px;
    line-height: 28px;
}

.testimonials-container article footer h4 {
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--title-weight);
    margin: 0;
}

.rating .star {
    font-size: 32px;
    line-height: 32px;
    color: var(--secondary-color);
}

.testimonials-container article footer {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    align-items: center;
}

.testimonials-container article footer img {
    width: 86px;
    height: 86px;
}

/* h4 + estrelas */
.profile-content {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .testimonials {
        padding: 0 60px;
    }

    .testimonials-container {
        padding: 0px;
    }
}

@media screen and (min-width: 1440px) {
    .testimonials {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .testimonials-container {
        flex-direction: row;
        gap: 24px;
    }

    .testimonials-container article header {
        padding: 0px;
    }
}

